<ThemeProvider Theme="@theme">
    <Layout>
        <Layout Sider>
            <LayoutSider>
                <LayoutSiderContent>
                    <Bar @ref="@sidebar" Mode="BarMode.VerticalInline"
                         CollapseMode="BarCollapseMode.Small"
                         Breakpoint="Breakpoint.Desktop"
                         NavigationBreakpoint="Breakpoint.Tablet"
                         ThemeContrast="ThemeContrast.Dark">
                        <BarToggler Bar="@sidebar"/>
                        <BarBrand>
                            <BarItem>
                                <BarLink>
                                    <img class="b-bar-icon" src="images/icons/pokeball.png" style="color: white; max-width: 31px;"/>
                                    Dex of Cards
                                </BarLink>
                            </BarItem>
                        </BarBrand>
                        <BarMenu>
                            <BarStart>
                                <BarItem>
                                    <BarLink To="/">
                                        <BarIcon IconName="IconName.Dashboard"/>
                                        Home
                                    </BarLink>
                                </BarItem>
                                <BarItem>
                                    <BarLink To="#docs">Documentation</BarLink>
                                </BarItem>
                                <BarItem>
                                    <BarDropdown>
                                        <BarDropdownToggle>
                                            <BarIcon IconName="IconName.Edit"/>
                                            Dropdown
                                        </BarDropdownToggle>
                                        <BarDropdownMenu>
                                            <BarDropdownItem>Action</BarDropdownItem>
                                            <BarDropdownItem>Another action</BarDropdownItem>
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </BarItem>
                            </BarStart>
                        </BarMenu>
                    </Bar>
                </LayoutSiderContent>
            </LayoutSider>
            <Layout>
                <LayoutContent>
                    <Router AppAssembly="@GetType().Assembly">
                        <Found Context="routeData">
                            <RouteView RouteData="@routeData"/>
                        </Found>
                        <NotFound>
                            <h1>Not found</h1>
                            <p>Sorry, there's nothing here.</p>
                        </NotFound>
                    </Router>
                </LayoutContent>
            </Layout>
        </Layout>
    </Layout>
</ThemeProvider>

@code {
    private Bar sidebar;

    private readonly Theme theme = new()
    {
        BodyOptions = new ThemeBodyOptions
        {
            BackgroundColor = "#0E0E0E"
        },
        BarOptions = new ThemeBarOptions
        {
            DarkColors = new ThemeBarColorOptions
            {
                BackgroundColor = "#242424",
                DropdownColorOptions = new ThemeBarDropdownColorOptions
                {
                    BackgroundColor = "#353535"
                },
                ItemColorOptions = new ThemeBarItemColorOptions
                {
                    ActiveBackgroundColor = "#F83526"
                }
            },
        }
    };

}