@page "/"
@using DexOfCards.Framework.Data.Models
@using DexOfCards.Framework.Data
@using DexOfCards.Utilities

<main class="flex-shrink-0">
    <section class="jumbotron text-center" style="padding-top: 25px">
        <div class="container">
            <h1 class="jumbotron-heading text-center fw-bold mb-3" style="color: white">Set Language Selector</h1>
            <div class="row justify-content-center">
                <div class="col-12">
                    @foreach (var lang in Enum.GetValues<CardLanguage>())
                    {
                        <div class="col-12 col-sm-3">
                            <div class="@(currentLanguage == lang ? "activeLang" : "lang")">
                                <button class="text-center p-3 btn btn-outline-secondary btn-flag" onclick="@(() => SetLang(lang))">
                                    <img src="images/icons/@(lang.ToString()).png" style="max-height: 35px !important;" alt>
                                </button>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-12">
                    <div class="row gy-3">
                        <div class="col-12">
                            <h1 class="text-center fw-bold mb-3" style="color: white">Available @currentLanguage.GetDescription() Sets</h1>
                            <div class="row gy-3 corner-radial" style="background-color: black">
                                @foreach (var set in DataStorage.GetSetByLanguage(currentLanguage))
                                {
                                    <div class="col-12 col-sm-3">
                                        <div class="d-block text-reset">
                                            <div class="shadow-sm align-items-center">
                                                <a href="/set/@set.SetId/@set.Language">
                                                    <div class="text-center p-3 set-logo">
                                                        <img class="img-fluid card corner-radial" src="@set.Logo" alt/>
                                                        <img class="img-fluid" style="text-align: center !important;" src="@set.SetImage" width="35" alt/>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code
{
    private CardLanguage currentLanguage;

    private void SetLang(CardLanguage lang)
    {
        currentLanguage = lang;

        StateHasChanged();
    }
}