@page "/set/{setId}"
@using DexOfCards.Framework.Data
@using DexOfCards.Framework.Data.Models

@if (DataStorage.GetSet(SetId) is { } CardSet)
{
    <div align="center">
        <h1>@CardSet.SetName</h1>
        <br/>
        <img src="@CardSet.Logo" alt/>
        <br/>
        <h3>@SetId</h3>
    </div>

    <main style="margin-bottom: 2em">
        <div class="container center">
            <div class="mt-3">
                <div>
                    <div class="row gy-3">
                        @foreach (var card in DataStorage.GetCards(CardSet))
                        {
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 corner-radial text-center">
                                <div class="pokemon-card shadow-sm">
                                    <div style="position: relative">
                                        <div>
                                            <a @onclick="() => OnClick(card)" style="cursor: pointer">
                                                <img class="img-fluid card corner-radial" src="@card.CardImage" alt/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>

    <Modal @ref="_modal" Animated="true" AnimationDuration="150" RenderMode="ModalRenderMode.LazyLoad" Class="">
        <ModalContent Size="ModalSize.ExtraLarge" Centered>
            <ModalHeader>
                <ModalTitle>@_clickedCard.CardName @($"{_clickedCard.CardNumber}/{CardSet.CardsInSet}")</ModalTitle>
                <CloseButton Style="margin-right: 1em"/>
            </ModalHeader>
            <ModalBody>
                <ModalBody>
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-5 pokemon-card-large">
                                <div class="text-center">
                                    <img src="@_clickedCard.CardImage" class="img-fluid corner-radial" alt/>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="card">
                                    <div class="card-body p-0 p-md-3">
                                        Test
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ModalBody>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@Save">Save</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}

@code {
    private CardModel _clickedCard { get; set; }
    private Modal _modal { get; set; }
    [Parameter] public string SetId { get; set; }

    private void OnClick(CardModel model)
    {
        _clickedCard = model;

        _modal.Show();
    }

    private void Save()
    {
        _modal.Hide();
    }
}